# actinius-usb.rules
# Actinius B.V. (https://www.actinius.com)

# FTDI-based devices
MODE=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="0403", MODE="0666", ENV{ID_MM_CANDIDATE}="0", ENV{ID_MM_DEVICE_IGNORE}="1"
